body {
  background-color: cornsilk;
  font-family: "Courier New", Courier, monospace;
}
h1 {
  color: darkblue;
}
p {
  color: black;
}
.center {
  text-align: center;
  border: 3px solid green;
  border-radius: 15px;
}
li.course{
	background-color: floralwhite;
    	display: block;
	border-radius: 25px;
	padding: 25px; 
	border: 15px;
	
}

.course_list {
	background-color: darkblue;
  	list-style-type: circle;
	padding: 15px; 
	margin-top: 20px;
  	margin-bottom: 20px;
  	margin-right: 150px;
  	margin-left: 150px;
	border-radius: 15px;
	color: floralwhite;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


li.nav {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
