---
---
body {
  background-color: cornsilk;
  font-family: "Courier New", Courier, monospace;
  
}
h1, h2, h3 {
  color: darkred;
  text-align: center;
  border: 5px solid darkred;
  border-radius: 5px;
  padding: 10px 10px;
  padding: 15px; 
	margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 150px;
  margin-left: 150px;
}
p {
  color: black;
  text-align: center;
  border: 3px solid darkred;
  border-radius: 5px;
  padding: 10px 10px;
  padding: 15px; 
	margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 150px;
  margin-left: 150px;
}

table {
  border-collapse: collapse;
  border-radius: 5px;
  width: 80%;
}

table, th, td {
  border: 3px solid darkred;
  
}
ul.nav {
  list-style-type: none;
  overflow: hidden;
  background-color: darkblue;
  position: sticky;
  top: 0;
  width: 80%;
}


li.nav {
  display: block;
  color: floralwhite;
  text-align: center;
  padding: 5px 5px;
  
  float: left;
}

a:link, a:visited {
  background-color: cornsilk;
  color: darkblue;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: darkred;
}
/* selected link */
a:active {
  color: blue;
}
li {
	background-color: darkblue;
    	display: block;
	border-radius: 25px;
	padding: 25px; 
	border: 15px;
	
}
